
<script src="/js/Chart.min.js"></script>
<canvas id="myChart" width="800" height="400"></canvas>

<script>
var data = {
	<%  
	var label = '';
	for(var key in data)
	{
		if(data[key]['kind'] == 1)
			label +=  '"' + key +'_'+ data[key]['count'] + '",';
	}
	%>
	labels : [<%-label%>],
	datasets : [
		{
			fillColor : "rgba(220,220,220,0.5)",
			strokeColor : "rgba(220,220,220,1)",
			<%  
			var value = '';
			for(var key in data)
			{
				if(data[key]['kind'] == 1)
					value +=  data[key]['count'] + ', ';
			}
			%>
			data : [<%-value%>]
		},
	]
}
var ctx = document.getElementById("myChart").getContext("2d");
var myNewChart = new Chart(ctx).Bar(data);
</script>

<div>

	<%  
	var label = '';
	for(var key in data)
	{%>
		<%=key%> <%=data[key]['count']%>
		=====================================
		<%for(var idx in data[key]['data']) { %>
			<p><a href='<%= data[key]['data'][idx]['link']%>'><%= data[key]['data'][idx]['title']%></a> </p>
		<%}%>
		
	<%	
	}
	%>


</div>