

<div>
  <div>
    <div><a href='./<%=board_id%>/single/g'>單則(推文)</a></div>
    <div><a href='./<%=board_id%>/single/b'>單則(噓文)</a></div>
    <div><a href='./<%=board_id%>/single/all'>單則(總計)</a></div>
  </div>
  <div>
    <div><a href='./<%=board_id%>/group/g'>群組(推文)</a></div>
    <div><a href='./<%=board_id%>/group/b'>群組(噓文)</a></div>
    <div><a href='./<%=board_id%>/group/all'>群組(總計)</a></div>
  </div>

</div>