
<%
function initList() {%>
	<ul class='list' data-role="listview" data-inset="true"></ul> 
	<a id='more' onclick="loadMore()" href="javascript:void(0);" class="ui-btn ui-mini">more</a>
<%}
%>

<%  function singleHtml(data) { %>

<ul class='list' data-role="listview" data-inset="true">
   <% for(var i=0; i < data.length; ++i) {%>
   <li>
    <div><%=i+1%> <a href='<%= data[i]['link'] %>'><%= data[i]['title'] %></a>  <br>
    <%=data[i]['score']%>  推 = <%=data[i]['push']['g']%>, 噓 = <%=data[i]['push']['b']%>, 總和 = <%=data[i]['push']['all']%></div>
    </li>
    
  <%}%>
 </ul> 

 <a onclick="loadMore()" href="javascript:void(0);" class="ui-btn ui-mini">more</a>

<%} %>

<script>
	var board = '<%=board%>'
  var sort = '<%=sort%>'
	var listShowIdx = 0;

	function dataToList(data)
	{
		var html = ''
		for(var i=0; i < data.length; ++i) {
  		  	html += "<li><div><p> " + (listShowIdx *10 +i+1) + " <a href='" + data[i]['link'] + "' target='_blank'>" + data[i]['title']  + "</a>  <br>" + 
   		 			data[i]['score']   + "</p></div></li>";
    }
 	  return html;
	}

    function loadMore()
    {
    	$.ajax({
      		url: "/singleRankGet",
      		type: "POST",
      		data: { pageIdx: listShowIdx, board:board, sort:sort}
    	})
      .done(function( data ) {
      	$('ul.list').append(dataToList(data));
    	  $('ul.list').listview('refresh');
    	  
      	if(data == null || data.length < 10)    
      		$('#more').hide();
        else
          listShowIdx++;
      });
    }

    $(document).ready(function ()
    {
    	listShowIdx = 0;
    	loadMore();
    });

</script>

<div >
	<h1>單則排行</h1>
	<% initList() %>

</div>
