
<%  function singleHtml(data) { %>
<ul class='list' data-role="listview">
   <% for(var i=0; i < data.length; ++i) {%>
   <li>
    <p><%=i+1%> <a href='<%= data[i]['link'] %>'><%= data[i]['title'] %></a>  </p>
    <p>推 = <%=data[i]['push']['g']%>, 噓 = <%=data[i]['push']['b']%>, 總和 = <%=data[i]['push']['all']%></p>
    </li>
    
  <%}%>
 </ul> 
 <a onclick="loadMore()" href="javascript:void(0);" class="ui-btn">more</a>
<%} %>

<script>
function loadMore()
{
	var origin = $('ul.list').html();
	$('ul.list').html(origin + '<li><p>aa</p></li>'  );
}
</script>


<h1>單則排行</h1>

<% singleHtml(rank) %>


